<%= form_for(@auto) do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% @auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <%= f.label :make %><br>
      <%= f.text_field :make, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :year %><br>
      <%= f.number_field :year, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :miles %><br>
      <%= f.number_field :miles, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :price %><br>
      <%= f.number_field :price, class: "form-control" %>
    </div>


    <div class="field form-group">
      <%= f.label "Photo" %><br>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
